<div class="chat__wrapper">

  <mat-card *ngIf="chatMassages.length > 0" class="chat__layout _col">
    <div class="chat__item" *ngFor="let massage of chatMassages">
      <span>{{massage.userName}}</span><br>
      <span>{{massage.massage}}</span><br>
      <span>{{massage.created}}</span>
    </div>
  </mat-card>


  <mat-card class="chat__layout _row">
    <mat-form-field>
      <input type="text"
            required
            placeholder="Enter massage ..."
            matInput
            [formControl]="massageControl">
    </mat-form-field>

    <button class="chat__button" mat-mini-fab
            [disabled]="massageControl.invalid"
            (click)="sendMassage()">
            <i class="material-icons">send</i>
    </button>
  </mat-card>
</div>
