.registration {
    &__item {
        width: 400px;
        margin: 0 auto;
    }

    &__button {
        background-color: #F0F4C3;
        margin: 15px auto 0;
        border: 1px solid #B39DDB;
        color: #4A148C;

        &:disabled {
            background-color: #EFEBE9;
            border-color: transparent;
        }

        &-text {
            margin-right: 10px;
        }
    }
}