<div class="_center">
  <mat-card class="registration__layout">
      <form [formGroup]='regForm'
            (submit)='singIn()'
            class="_col">
          <mat-form-field class="registration__item">
            <input type="text"
              required
              placeholder="Enter your name ..."
              matInput
              formControlName="userName">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="text"
              placeholder="Enter your E-mail ..."
              matInput
              formControlName="userEmail">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="password"
              required
              placeholder="Enter your password ..."
              matInput
              formControlName="userPassword">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="password"
              required
              placeholder="Repeat your password ..."
              matInput
              formControlName="checkPasswod">
          </mat-form-field>

          <button class="registration__button _row"
            mat-button
            [disabled]="regForm.invalid">
              <span class="registration__button-text">Sing in</span>
              <i class="material-icons">send</i>
          </button>
      </form>
  </mat-card>

  <mat-card *ngIf="usersList.length > 0" class="chat__layout _col">
      <div class="registration__list-item _col" *ngFor="let user of usersList">
        <span class="registration__list-item">user name: {{user.userName}}</span>
        <span class="registration__list-item">user email: {{user.userEmail}}</span>
        <span class="registration__list-item">user password: {{user.password}}</span>
        <span class="registration__list-item">user was cteated: {{user.created| date: 'short'}}</span>
        <span class="registration__list-item">user data was updated: {{user.updated | date: 'short'}}</span>
  
        <!-- <span class="registration__list-item-close _row" (click)="delete(user)">
          <span>Remove</span>
          <i class="registration__list-item-close-icon material-icons">delete</i>
        </span> -->
      </div>
    </mat-card>
</div>
