<div class="_center">
  <mat-card class="registration__layout">
      <form [formGroup]='regForm'
            (submit)='singIn()'
            class="registration__form _row">
          <mat-form-field class="registration__item">
            <input type="text"
              required
              placeholder="Enter your name ..."
              matInput
              formControlName="userName">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="text"
              placeholder="Enter your E-mail ..."
              matInput
              formControlName="userEmail">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="password"
              required
              placeholder="Enter your password ..."
              matInput
              formControlName="userPassword">
          </mat-form-field>

          <mat-form-field class="registration__item">
            <input type="password"
              required
              placeholder="Repeat your password ..."
              matInput
              formControlName="checkPasswod">
          </mat-form-field>

          <button class="registration__button _row"
            mat-button
            [disabled]="regForm.invalid">
              <span class="registration__button-text">Sing in</span>
              <i class="material-icons">send</i>
          </button>
      </form>
  </mat-card>
</div>
