<div class="_center">
  <mat-card class="registration__layout">
      <form [formGroup]='registrationForm'
            (submit)='registrationSubmit()'
            class="_col">
          <mat-form-field>
            <input type="text"
              required
              placeholder="Enter your name ..."
              matInput
              formControlName="userNameControl">
          </mat-form-field>

          <mat-form-field>
            <input type="text"
              required
              placeholder="Enter your E-mail ..."
              matInput
              formControlName="userEmailControl">
          </mat-form-field>

          <mat-form-field>
            <input type="password"
              required
              placeholder="Enter your password ..."
              matInput
              formControlName="userPasswordControl">
          </mat-form-field>

          <mat-form-field>
            <input type="password"
              required
              placeholder="Repeat your password ..."
              matInput
              formControlName="checkPasswodControl">
          </mat-form-field>

          <button class="registration__button _row"
            mat-button
            [disabled]="registrationForm.invalid">
              <span>Registration</span>
              <i class="material-icons">send</i>
          </button>
      </form>
  </mat-card>
</div>
