<mat-card class="auth _center">
  <form class="auth__form _col"
        [formGroup]="loginForm"
        (submit)="login()">

    <mat-form-field class="auth__field">
      <input type="text"
             required
             placeholder="Name ..."
             matInput
             formControlName="userName">
    </mat-form-field>

    <mat-form-field class="auth__field">
      <input type="password"
             required
             placeholder="Password ..."
             matInput
             formControlName="password">
    </mat-form-field>

    <div class="_row">
      <button mat-button class="auth__button"
              type="submit"
              [disabled]="loginForm.invalid">
        Log in
      </button>

      <button mat-button class="auth__button"
              type="button"
              (click)="goReg()">
        Regisrtation
      </button>
    </div>
  </form>
</mat-card>
