.auth {
  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-form {
    display: flex;
    width: 700px;
    margin: 10px;

    &__button {
      background: cornflowerblue;
      height: 40px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: auto;
    }
  }
}
