.auth {
  display: flex;
  justify-content: center;

  &__form {
    width: 400px;
  }

  &__field {

    & + & {
      margin-top: 10px;
    }
  }

  &__button {
    background: cornflowerblue;
    height: 40px;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;

    & + & {
      margin-left: 20px;
    }
  }
}
